$darkblue:  #0B0F32;
$grey:      #8D99A7;
$blue:      #12A4ED;
$red:       #F5325C;

* {
    outline: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: #F6F7FB;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: $grey;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    margin: 0;
    line-height: 1.5;
    color: $darkblue;
}

h1 {
    font-size: 52px;

    @media screen and (max-width:1400px) {
        font-size: 42px;
    }
}
h2 {
    font-size: 22px;
}
h3 {
    line-height: 1;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
.wrap {
    display: flex;
    min-height: 100vh;

    .main {
        flex: 1;
    }
    .main_content {
        padding: 30px;
    }
    .copy {
        font-size: 14px;
        padding: 10px 0;
    }
}

@import 'aside';
@import 'topbaruser';
@import 'dashboard';